@use 'variaveis';

.sinopse,
.resumo{
    background-color: variaveis.$corFundo;
    color: variaveis.$corTexto;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;

    &__container{
        max-width: 800px;
        text-align: center;
    }
}