$corTexto: #2E2E2E;           // Cor principal do texto, cinza escuro suave para boa leitura
$corFundo: #f3ecdf;           // Cor de fundo geral da página, bege claro estilo papel envelhecido
$corPrimaria: #A0522D;        // Cor primária, marrom quente para elementos de destaque e títulos
$corSecundaria: #D2691E;      // Cor secundária, laranja queimado para detalhes e ícones
$corBotao: #6B4226;           // Cor do botão padrão, marrom escuro sóbrio e vintage
$corBotaoHover: #8B5E3C;      // Cor do botão ao passar o mouse, marrom mais claro para feedback visual
$corLink: #3E6B8E;            // Cor para links e elementos interativos, azul acinzentado clássico
$corFundoHero: rgba(30, 204, 210, 0.4);  // Fundo semitransparente escuro usado como overlay no Hero para melhorar contraste
$corboxShadow: rgba(0, 0,0, 0.4);  // Fundo semitransparente escuro usado como overlay no Hero para melhorar contraste